
<h1 class="title" id="meetingName"><%= meeting.room %></h1>
<h1 class="subtitle">Meeting Pin: <%= meeting.pin %></h1>
<h1 class="subtitle">Your Nickname: </h1>

<textarea class="textarea" id="taskInput" placeholder="e.g. Hello world"></textarea>
<button class="button is-primary" id="addButton">Add</button>


<article class="message" id="example-box">
  <div class="message-header">
  </div>
  <div class="message-body">
    Example Task
  </div>
</article>


<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
