
<h1 class="title"><%= meeting.room %></h1>

<textarea class="textarea" placeholder="e.g. Hello world"></textarea>
<button class="button is-primary">Add</button>


<article class="message">
  <div class="message-header">
  </div>
  <div class="message-body">
    Blah blah blah
  </div>
</article>
