main {
  text-align: center;
}

.input.is-rounded {
  max-width: 40%;
  text-align: center;
}

.title {
  margin-top: 10rem;
  text-align: center;
}

#meetingName {
  margin-top: 2rem;
  text-align: center;
}

#taskInput {
  max-width: 40%;
  min-width: 20%;
  margin: auto;
  min-height: 5rem;
}

#addButton {
  margin: 1rem;
}

.message {
  max-width: 40%;
  min-width: 20%;
  margin: auto;
  min-height: 5rem;
  text-align: left;
}
