main {
  text-align: center;
}

.input.is-rounded {
  max-width: 40%;
  text-align: center;
}

.title {
  margin-top: 10rem;
  text-align: center;
}

#meetingName {
  margin-top: 2rem;
  text-align: center;
}

#taskInput {
  max-width: 40%;
  min-width: 20%;
  margin: auto;
  min-height: 5rem;
}

#addButton {
  margin: 1rem;
}

.message {
  max-width: 40%;
  min-width: 20%;
  margin: auto;
  min-height: 5rem;
  text-align: left;
}

a {
  display: block;
  text-align: right;
}

#commentForm {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

#commentInput {
  text-align: left;
  max-width: 87%;
}

.subtitle.is-4 {
  margin-bottom: 0.4rem;
}

#comment {
  margin-left: 1rem;
}

#voteDiv {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  position: relative;
}

#voteButton {
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

#voteCount {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
